@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.hej {
  position: fixed;
  bottom: 100;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 50%;
  padding: 1px;
}

body {
  position: fixed;
}

main {
  margin: 0 auto;
  padding: 200px;
}

#video {
  position: fixed;
  z-index: -1;
  width: 100%;
}
h1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 0.5em;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 3px;
  box-sizing: border-box;
}